.container{
	border-radius: 25px;
	background-color: white;
	min-height:60vh;    
	width: 100vh;
	min-width: 50vh;
	margin-top: 10vh;
	margin-bottom: 10vh; 
} 
  
.cidade-area{
    padding: 1em;
    text-align: center;
    height: 100%;
}

.div-previsoes{
    margin-top: 10%;
}


