<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img width="25" src="assets/img/icon_wheater.png" class="logo">
        </a>
        <span class="navbar-brand">TermoCity</span>
    </div>
    <ul class="nav navbar-nav">
        <li [ngClass]="{'nav-item': true, 'active': cidadeSelecionada && cidadeSelecionada.id == cidade.id}" *ngFor="let cidade of lstCidades">
            <a href="#" (click)="onClickCidade(cidade)">{{cidade.descricao}}</a>
        </li>
    </ul>
</div>
</nav>
<div class="container"  [hidden]="!carregou" >
    <ng-template #container></ng-template>
</div>